<% provide(:title, "About") %>
<h1>About</h1>
<p>
	Simple code on RAILS. Login panel for authorized users.
</p>
<p>
	Source and inspiration: <a href="https://www.railstutorial.org/book">www.railstutorial.org/book</a>
</p>
