<% provide(:title, "Help") %>
<h1>Login Panel - ROR #help</h1>
<p>
	For more information please send me email message to <a href="mailto: grzegorz.michalski@invert8.com">grzegorz.michalski@invert8.com</a>
</p>
<h4>
	Visit my site: <a href="http://www.invert8.com">www.invert8.com</a> or check my Bitbucket profile: <a href="https://bitbucket.org/grzm">I want to see</a>
</h4>
