<div class="center jumbotron">
	<h1>Panel only for authorised personel</h1>
	<p>
		This is login system panel - for our company - <a href="https://www.pulsarprojekt.pl">Pulsar Projekt</a>
	</p>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
